src/game1/src/main.cpp.orig
debian/debhelper-build-stamp
debian/files
debian/ripples.debhelper.log
debian/ripples.substvars
debian/ripples
obj-x86_64-linux-gnu
parts
stage
prime
snap
src/game1/src/.main.cpp.swp
